@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{

    font-family: "Plus Jakarta Sans", sans-serif;
}  



.parallax {
    background-image: url('./assets//bg.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
  }


@keyframes parallax-scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}



/* src/VideoComponent.css */
.con {
    width: 100px; /* Set the initial width */
    height: 50px; /* Set the height */
    background-color: #ccc; /* Background color for visibility */
    transform: scaleX(1.6); /* Scale along the x-axis to 160% */
  }
  .scale-element {
    /* Initial styles for your element */
    width: 84%; /* Adjust initial width */
    height: 100px; /* Adjust initial height */
    background-color: #eee;
    margin: auto;
  }
  
  [data-aos="custom"] {
    transform: scale(1); /* Initial scale (no change) */
    transition: transform 0.5s ease-in-out;
    transition-property: transform; /* Animation timing */
  }
  
  [data-aos="custom"].aos-animate {
    transform: scaleX(1.5, 1); /* Scale on animation (width by 1.2, height by 1) */
  }
  

  [data-aos='s'] {
    transform: scale(1);
    transition-property: transform;
  }
  /*  Animation ends here */
  [data-aos='s'].aos-animate {
    transform: scaleX(1.6);
  }